<!DOCTYPE html>
<html lang="pt-BR">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CARDÁPIO | CupCakePop</title>
    <meta name="description" content="Trabalho da matéria de Dev Web da Faculdade Unimetrocamp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

         <!-- Menu -->
         <nav class="navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar fluid" href="home.html">CupCakePop</a>   
               
                    <div class="navbar collapse">
                        <a class="nav-link" aria-current="page" href="home.html">HOME</a>
                        <a class="nav-link" aria-current="page" href="bem-vindo.html">BEM-VINDO</a>
                        <a class="nav-link active" aria-current="page" href="cardápio.html">CARDÁPIO</a>
                        <a class="nav-link" aria-current="page" href="sobre-nos.html">SOBRE NÓS</a>
                        <a class="nav-link" aria-current="page" href="cadastro.html">CADASTRO</a>
                    </div>
                </div>
        </nav>

    <!-- Menu -->

    <div class="container text-center">
        <div class="row px-5 pt-3">
            <p class="fs-3 text-uppercase">Sabores irresistíveis!</p>
            <p class="fs-4">Para a sua festa ou evento de sua empresa, coloque seu logotipo e personalize seus cupcakes.
            </p>
            <p class="fs-2 fw-bold text-uppercase pt-5" id="tituloCardapio">Cardápio</p>
        </div>

        <!-- CARDÁPIO  -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card c-cardapio">
                    <img src="assets/imgs/brigadeiro.webp" class="card-img-top cardapio" alt="cupcake de brigadeiro">
                    <div class="card-body text-center">
                        <p class="card-title">Brigadeiro</p>
                        <p class="card-text">Delicioso cupcake, sem glúten, com massa de chocolate e recheio de brigadeiro.</p>
                    </div>
                    <div class="card-text preco">
                        <p class="">R$ 10</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card c-cardapio">
                    <img src="assets/imgs/ganache.webp" class="card-img-top cardapio" alt="cupcake de ganache">
                    <div class="card-body text-center">
                        <p class="card-title">Ganache</p>
                        <p class="card-text">Delicioso cupcake, sem glúten, com a massa de baunilha ou chocolate e recheio de ganache.</p>
                    </div>
                    <div class="card-text preco">
                        <p class="">R$ 10</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card c-cardapio">
                    <img src="assets/imgs/amendoim.webp" class="card-img-top cardapio" alt="cupcake de amendoim">
                    <div class="card-body text-center">
                        <p class="card-title">Amendoim</p>
                        <p class="card-text">Delicioso cupcake, sem glúten, com massa de baunilha e recheio de amendoim.</p>
                    </div>
                    <div class="card-text preco">
                        <p class="">R$ 10</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card c-cardapio h-100">
                    <img src="assets/imgs/limao.webp" class="card-img-top cardapio" alt="cupcake de limão">
                    <div class="card-body text-center">
                        <p class="card-title">Limão</p>
                        <p class="card-text">Delicioso cupcake, sem glúten, com massa de laranja e recheio de limão.</p>
                    </div>
                    <div class="card-text preco">
                        <p class="">R$ 10</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card c-cardapio">
                    <img src="assets/imgs/morango.webp" class="card-img-top cardapio" alt="cupcake de morango">
                    <div class="card-body text-center">
                        <p class="card-title">Morango</p>
                        <p class="card-text">Delicioso cupcake, sem glúten, com massa de baunilha e recheio de morango.</p>
                    </div>
                    <div class="card-text preco">
                        <p class="">R$ 10</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card c-cardapio">
                    <img src="assets/imgs/beijinho.webp" class="card-img-top cardapio" alt="cupcake de beijinho">
                    <div class="card-body text-center">
                        <p class="card-title">Beijinho</p>
                        <p class="card-text">Delicioso cupcake, sem glúten, com massa de baunilha e recheio de beijinho.</p>
                    </div>
                    <div class="card-text preco">
                        <p class="">R$ 10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 footer">
        © 2022 Copyright: CupCakePop
    </div>
    <!-- Copyright -->
