<!DOCTYPE html>
<html lang="pt-BR">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BEM-VINDO | CupCakePop</title>
    <meta name="description" content="Trabalho da matéria de Dev Web da Faculdade Unimetrocamp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

 <!-- Menu -->
 <nav class="navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar fluid" href="home.html">CupCakePop</a>   
     
          <div class="navbar collapse">
              <a class="nav-link" aria-current="page" href="home.html">HOME</a>
              <a class="nav-link active" aria-current="page" href="bem_vindo.html">BEM-VINDO</a>
              <a class="nav-link" aria-current="page" href="cardapio.html">CARDÁPIO</a>
              <a class="nav-link" aria-current="page" href="sobre_nos.html">SOBRE NÓS</a>
              <a class="nav-link" aria-current="page" href="cadastro.html">CADASTRO</a>
          </div>
      </div>
</nav>

  <!-- Conteúdo -->
  <div class="container">
    <!-- Bem-Vindo -->
    <div class="row pt-3 pb-5 text-center centralizar">
      <div class="col-md-5">
        <img src="assets/imgs/cupcake1.jpg" class="img-fluid rounded" alt="cupcake morango">
      </div>
      <div class="col-md-7 text-wrap centralizar">
        <div>
          <p class="text-uppercase fs-3 fw-bolder pt-4">Bem-Vindo</p>
          <p class="fs-4 fw-bold">Somos a CupCakePop!</p>
          <p class="fs-5">
            Há mais de dez anos produzimos nossos deliciosos cupcakes com muito carinho, responsabilidade e amor.
            Nossos produtos são feitos com ingredientes selecionados, livres de contaminação cruzada, pensando em você,
            que é intolerante ao glúten. Temos também a linha zero açúcar. Respeitamos o seu corpo e o seu bolso.
          </p>
        </div>
      </div>
    </div>

    <!-- Endereço e Contato -->
    <div class="row pt-5 text-center centralizar" id="contato">
      <div class="col-md-7 text-wrap centralizar">
        <div>
          <p class="fs-4 fw-bold">Conheça a nossa loja!</p>
          <div class="fs-6">
            <p>Av. Bernardino de Campos, 98<br> São Paulo - SP<br> 12345-678</p>
            <p>info@cupcakepop.com<br>WhatsApp: (11) 93456-7890</p>
            <p>Horário de atendimento: <br>Segunda a Sábado<br>10h às 20h</p>
            <p>Encomende com antecedência e transforme seu evento numa festa!</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <img src="assets/imgs/cupcake2.webp" class="img-fluid rounded" alt="varios cupcakes">
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3 footer">
    © 2022 Copyright: CupCakePop
  </div>
  <!-- Copyright -->

  