<!DOCTYPE html>
<html lang="pt-BR">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SOBRE NÓS | CupCakePop</title>
    <meta name="description" content="Trabalho da matéria de Dev Web da Faculdade Unimetrocamp">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

     <!-- Menu -->
     <nav class="navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar fluid" href="home.html">CupCakePop</a>   
           
                <div class="navbar collapse">
                        <a class="nav-link" aria-current="page" href="home.html">HOME</a>
                        <a class="nav-link" aria-current="page" href="bem_vindo.html">BEM-VINDO</a>
                        <a class="nav-link" aria-current="page" href="cardapio.html">CARDÁPIO</a>
                        <a class="nav-link active" aria-current="page" href="sobre_nos.html">SOBRE NÓS</a>
                        <a class="nav-link" aria-current="page" href="cadastro.html">CADASTRO</a>
                    </div>
                </div>
        </nav>

    <!-- Menu -->
    <nav class="navbar-light ">
        <div class="container-fluid">
    <div class="container text-center text-wrap">
        <div class="row pt-4">
            <p class="fs-3 text-uppercase">Desenvolvimento Web em HTML5, CSS, JavaScript E PHP</p>
            <p class="fs-2 fw-bold text-uppercase pt-3">Nosso Grupo</p>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4 pb-4">
            <div class="col d_membro">
                <div class="card h-100 w-50 d-inline-block">
                    <img src="assets/imgs/membros/aline.png" class="card-img-top membros hover-zoom" alt="aline">
                    <div class="card-body">
                        <p class="card-title">Aline</p>
                    </div>
                    <p class="card-text">Análise e Desenvolvimento de Sistemas</p>
                </div>
            </div>
            <div class="col d_membro">
                <div class="card h-100 w-50 d-inline-block">
                    <img src="assets/imgs/membros/beatriz.png" class="card-img-top membros" alt="beatriz">
                    <div class="card-body">
                        <p class="card-title">Beatriz</p>
                    </div>
                    <p class="card-text">Análise e Desenvolvimento de Sistemas</p>
                </div>
            </div>
            <div class="col d_membro">
                <div class="card h-100 w-50 d-inline-block">
                    <img src="assets/imgs/membros/fabricio.png" class="card-img-top membros" alt="fabricio">
                    <div class="card-body">
                        <p class="card-title">Fabrício</p>
                    </div>
                    <p class="card-text">Redes de Computadores</p>
                </div>
            </div>
            <div class="col d_membro">
                <div class="card h-100 w-50 d-inline-block">
                    <img src="assets/imgs/membros/laura.jpeg" class="card-img-top membros" alt="laura">
                    <div class="card-body">
                        <p class="card-title">Laura</p>
                    </div>
                    <p class="card-text">Ciência da Computação</p>
                </div>
            </div>
            <div class="col d_membro">
                <div class="card h-100 w-50 d-inline-block">
                    <img src="assets/imgs/membros/leticia.png" class="card-img-top membros" alt="leticia">
                    <div class="card-body">
                        <p class="card-title">Letícia</p>
                    </div>
                    <p class="card-text">Análise e Desenvolvimento de Sistemas</p>
                </div>
            </div>
            <div class="col d_membro">
                <div class="card h-100 w-50 d-inline-block">
                    <img src="assets/imgs/membros/priscila.png" class="card-img-top membros" alt="priscila">
                    <div class="card-body">
                        <p class="card-title">Priscila</p>
                    </div>
                    <p class="card-text">Análise e Desenvolvimento de Sistemas</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 footer">
        © 2022 Copyright: CupCakePop
    </div>
    <!-- Copyright -->